[SUBWORKFLOW] - getServicos.json
{
  "name": "[SUBWORKFLOW] - getServicos",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://api.trinks.com/v1/servicos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "somenteVisiveisCliente",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        112
      ],
      "id": "b182942c-344d-4b2b-8dbe-2420481f1f60",
      "name": "getServiços",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d80111b6-bc96-457d-b5db-cf23d4ac1317",
              "leftValue": "={{ $('getRedis').item.json.getServico }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        320
      ],
      "id": "43c63c86-003f-4490-9f8b-6e35f1ca8ff7",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e99cd58b-7d6f-4851-9a71-8e1121878d96",
              "name": "getServicos",
              "value": "={{ JSON.parse($('getRedis').item.json.getServico) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        336
      ],
      "id": "01d2c8ec-8285-4337-bffc-305fad0faabb",
      "name": "Output"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "getServico",
        "key": "getServico",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        320
      ],
      "id": "c53fbae7-7efd-429e-aced-7db2f88006e0",
      "name": "getRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "getServico",
        "messageData": "={{ JSON.stringify($('getServiços').item.json.data, null, 2) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        512,
        112
      ],
      "id": "a7b23cb7-38ac-450a-9019-6204fea8f23e",
      "name": "pushRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        544
      ],
      "id": "1542f41d-ece6-435f-b62e-84e2dd3a1f51",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "getServico"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        80,
        624
      ],
      "id": "c6bf2537-d0a5-45ba-81d6-f17d01dd6ea8",
      "name": "delRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "getRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getServiços": {
      "main": [
        [
          {
            "node": "pushRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "getServiços",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRedis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pushRedis": {
      "main": [
        [
          {
            "node": "getRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "delRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "20ebc248-549e-43e2-b001-7b51390e8916",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d47decf17b971c33cf7b5dec9572b981142fa85c3d30a8a0eb41b58fe2f3b048"
  },
  "id": "0sy3OvTbX5DZHRWT",
  "tags": []
}