[SUBWORKFLOW] - getProfissionais.json
{
  "name": "[SUBWORKFLOW] - getProfissionais",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d2398432-939c-4a51-a0f5-5ebc7dfa955c",
      "typeVersion": 1.1,
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d80111b6-bc96-457d-b5db-cf23d4ac1317",
              "leftValue": "={{ $('getRedis').item.json.getProfissionais }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        320
      ],
      "id": "8807f9d8-9c0b-4876-89c7-dac1c66f18a2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e99cd58b-7d6f-4851-9a71-8e1121878d96",
              "name": "getProfissionais",
              "value": "={{ JSON.parse($('getRedis').item.json.getProfissionais).map(({ cpf, ...rest }) => rest) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        336
      ],
      "id": "d5002d28-f7dc-4464-bb5e-85e81e820da4",
      "name": "Output"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "getProfissionais",
        "key": "getProfissionais",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        320
      ],
      "id": "01e3754f-ba28-44aa-9bd6-7350d0104c63",
      "name": "getRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "getProfissionais",
        "messageData": "={{ JSON.stringify($('getProfissionais').item.json.data, null, 2) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        544,
        112
      ],
      "id": "86ed25df-d877-4cbf-8dc0-c6565a55dad4",
      "name": "pushRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        544
      ],
      "id": "e0f3eb49-5efc-4940-badb-25e7d58dd41c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "getProfissionais"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        80,
        624
      ],
      "id": "3519890f-bef6-4d42-9a60-1ad37ca4f0b2",
      "name": "delRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.trinks.com/v1/profissionais/1067778",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        112
      ],
      "id": "2c217fc4-e2d9-4bdf-9295-13cfd15bb932",
      "name": "getProfissionais",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "getRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "getProfissionais",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRedis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pushRedis": {
      "main": [
        [
          {
            "node": "getRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "delRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getProfissionais": {
      "main": [
        [
          {
            "node": "pushRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f2334ca1-eb45-4737-9616-aa45c548e37c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d47decf17b971c33cf7b5dec9572b981142fa85c3d30a8a0eb41b58fe2f3b048"
  },
  "id": "0bRoajglZEbIyWP3",
  "tags": []
}