[SUBWORKFLOW] - getCliente.json
{
  "name": "[SUBWORKFLOW] - getCliente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Whatsapp"
            },
            {
              "name": "Nome"
            },
            {
              "name": "DDD"
            },
            {
              "name": "DDI"
            }
          ]
        }
      },
      "id": "da8070e6-4ea5-4010-9e41-7bffaf401ac9",
      "typeVersion": 1.1,
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d80111b6-bc96-457d-b5db-cf23d4ac1317",
              "leftValue": "={{ $('getRedis').item.json.getCliente }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        320
      ],
      "id": "a1a2dc17-7cb9-4e5f-8226-2fdfa70179c4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e99cd58b-7d6f-4851-9a71-8e1121878d96",
              "name": "Cliente",
              "value": "={{ JSON.parse($('getRedis').item.json.getCliente[0] ) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        336
      ],
      "id": "b12c7f2e-822f-4015-9c50-5dd2fe54bab6",
      "name": "Output"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "getCliente",
        "key": "={{ $('start').item.json.Whatsapp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        320
      ],
      "id": "4f45385c-53f6-4bf8-b73f-52e170c14193",
      "name": "getRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('start').item.json.Whatsapp }}",
        "messageData": "={{ JSON.stringify($('Merge').item.json, null, 2) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1328,
        96
      ],
      "id": "644920d5-dc49-42fe-9bd2-ead313ad62bd",
      "name": "pushRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        544
      ],
      "id": "a5123708-952b-4798-bef3-c8ef5ddcc659",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "81402176"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        80,
        544
      ],
      "id": "5fce731a-5b90-41ac-8045-9acec03a46ea",
      "name": "delRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.trinks.com/v1/clientes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $('start').item.json.Whatsapp }}"
            },
            {
              "name": "incluirDetalhes",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        96
      ],
      "id": "5e6d3fb0-027d-4b8d-bedf-a0713b2fc217",
      "name": "getCliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "171aa108-678e-40b6-adb3-9e2b9d440607",
              "leftValue": "={{ $('getCliente').first().json.data[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        96
      ],
      "id": "7d61f309-e3dd-4744-9991-4bc5b61818e3",
      "name": "existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trinks.com/v1/clientes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telefones\": [\n    {\n      \"ddi\": \"{{ $('start').item.json.DDI }}\",\n      \"ddd\": \"{{ $('start').item.json.DDD }}\",\n      \"numero\": \"{{ $('start').item.json.Whatsapp }}\",\n      \"tipoId\": 6\n    }\n  ],\n  \"nome\": \"{{ $('start').item.json.Nome }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        192
      ],
      "id": "b3e390b3-7627-4ef3-b99d-751810e609fb",
      "name": "createCliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        96
      ],
      "id": "dbdc5c8e-7791-47c4-b6dc-416af9fb26c9",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://api.trinks.com/v1/clientes/{{ $('createCliente').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        192
      ],
      "id": "cadea83c-5b58-4e19-a377-f43aa71cdf96",
      "name": "getByID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    }
  ],
  "pinData": {
    "start": [
      {
        "json": {
          "Whatsapp": "81412170",
          "Nome": "Caio",
          "DDD": "74",
          "DDI": "55"
        }
      }
    ]
  },
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "getRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "getCliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRedis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pushRedis": {
      "main": [
        [
          {
            "node": "getRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "delRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getCliente": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "createCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createCliente": {
      "main": [
        [
          {
            "node": "getByID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "pushRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getByID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9ffc8cb9-d323-4293-8e07-123a89b467c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d47decf17b971c33cf7b5dec9572b981142fa85c3d30a8a0eb41b58fe2f3b048"
  },
  "id": "qko6WyOnE9ZRcrNG",
  "tags": []
}