[SUBWORKFLOW] - getCliente.json
{
  "name": "[SUBWORKFLOW] - getCliente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Whatsapp"
            },
            {
              "name": "Nome"
            },
            {
              "name": "DDD"
            },
            {
              "name": "DDI"
            }
          ]
        }
      },
      "id": "da8070e6-4ea5-4010-9e41-7bffaf401ac9",
      "typeVersion": 1.1,
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d80111b6-bc96-457d-b5db-cf23d4ac1317",
              "leftValue": "={{ $('getRedis').item.json.getCliente }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        320
      ],
      "id": "a1a2dc17-7cb9-4e5f-8226-2fdfa70179c4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "getCliente",
        "key": "={{ $('start').item.json.Whatsapp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        320
      ],
      "id": "4f45385c-53f6-4bf8-b73f-52e170c14193",
      "name": "getRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('start').item.json.Whatsapp }}",
        "messageData": "={{ JSON.stringify($('Merge').item.json, null, 2) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2656,
        -16
      ],
      "id": "644920d5-dc49-42fe-9bd2-ead313ad62bd",
      "name": "pushRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        544
      ],
      "id": "a5123708-952b-4798-bef3-c8ef5ddcc659",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "81402176"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        80,
        544
      ],
      "id": "5fce731a-5b90-41ac-8045-9acec03a46ea",
      "name": "delRedis",
      "credentials": {
        "redis": {
          "id": "PcR6h7cpTpsMigtm",
          "name": "[REDIS CHAT] - FlowMidas"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.trinks.com/v1/clientes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $('start').item.json.Whatsapp }}"
            },
            {
              "name": "incluirDetalhes",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -240
      ],
      "id": "5e6d3fb0-027d-4b8d-bedf-a0713b2fc217",
      "name": "getCliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "171aa108-678e-40b6-adb3-9e2b9d440607",
              "leftValue": "={{ $('getCliente').first().json.data[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        -240
      ],
      "id": "7d61f309-e3dd-4744-9991-4bc5b61818e3",
      "name": "existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trinks.com/v1/clientes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telefones\": [\n    {\n      \"ddi\": \"{{ $('start').item.json.DDI }}\",\n      \"ddd\": \"{{ $('start').item.json.DDD }}\",\n      \"numero\": \"{{ $('start').item.json.Whatsapp }}\",\n      \"tipoId\": 6\n    }\n  ],\n  \"nome\": \"{{ $('start').item.json.Nome }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        -96
      ],
      "id": "b3e390b3-7627-4ef3-b99d-751810e609fb",
      "name": "createCliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1984,
        -320
      ],
      "id": "dbdc5c8e-7791-47c4-b6dc-416af9fb26c9",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://api.trinks.com/v1/clientes/{{ $('createCliente').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        -96
      ],
      "id": "cadea83c-5b58-4e19-a377-f43aa71cdf96",
      "name": "getByID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66b6bb8c-bbb3-4d2d-b98e-11c70378f486",
              "leftValue": "={{ $('getCliente').item.json.totalRecords }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        -416
      ],
      "id": "93510bfd-9562-41d1-bbcf-121db9735ff2",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Kfs1ibXPDN81kPDk",
          "mode": "list",
          "cachedResultUrl": "/workflow/Kfs1ibXPDN81kPDk",
          "cachedResultName": "classificaCliente"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "clienteId": "={{ $('getCliente').item.json.data }}"
          },
          "matchingColumns": [
            "clienteId"
          ],
          "schema": [
            {
              "id": "clienteId",
              "displayName": "clienteId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1248,
        -528
      ],
      "id": "76d2afb2-78b3-4063-8b03-9b3daf32d9cd",
      "name": "classificaCliente"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://api.trinks.com/v1/clientes/80966867",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        512
      ],
      "id": "db0c2d0c-37c0-452e-a102-da08814fe694",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6607c993-d213-4087-9912-2fc0adfd20ad",
              "name": "clientes.id",
              "value": "={{ $json.data[0].id }}",
              "type": "number"
            },
            {
              "id": "6ee210d5-a54a-4425-b950-2f9ef1da238d",
              "name": "clientes.nome",
              "value": "={{ $json.data[0].nome }}",
              "type": "string"
            },
            {
              "id": "c6421192-45b9-4627-ada2-c9d88234da62",
              "name": "clientes.observacoes",
              "value": "={{ $json.data[0].clienteDetalhes.observacoes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -304
      ],
      "id": "f96f1661-53aa-4de9-a4cb-368a8a1fd153",
      "name": "normaliza"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6607c993-d213-4087-9912-2fc0adfd20ad",
              "name": "clientes.id",
              "value": "={{ $('getByID').item.json.id }}",
              "type": "number"
            },
            {
              "id": "6ee210d5-a54a-4425-b950-2f9ef1da238d",
              "name": "clientes.nome",
              "value": "={{ $('getByID').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "c6421192-45b9-4627-ada2-c9d88234da62",
              "name": "clientes.observacoes",
              "value": "={{ $('getByID').item.json.observacoes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -96
      ],
      "id": "a53f94f3-53f8-48a5-b018-977a91cb2fb5",
      "name": "Normaliza"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('getRedis').item.json.getCliente[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        336
      ],
      "id": "b12c7f2e-822f-4015-9c50-5dd2fe54bab6",
      "name": "Output"
    },
    {
      "parameters": {
        "content": "## Atualizar \nAtualizar para usar  o numerocompleto do cliente, pois em casos raros podem tem 2 ou mais numeros iguais ja que usamos o numero puro sem 55 ou ddd",
        "height": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        528
      ],
      "id": "2beabc2a-22af-4e94-bd5a-223c2cbbdf0b",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "start": [
      {
        "json": {
          "Whatsapp": "81402176",
          "Nome": "Caio",
          "DDD": "74",
          "DDI": "55"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "getRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "getCliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRedis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pushRedis": {
      "main": [
        [
          {
            "node": "getRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "delRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getCliente": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "createCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createCliente": {
      "main": [
        [
          {
            "node": "getByID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "pushRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getByID": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "classificaCliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classificaCliente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normaliza": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ef70cd6a-877c-4635-8a8c-95eab7902016",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d47decf17b971c33cf7b5dec9572b981142fa85c3d30a8a0eb41b58fe2f3b048"
  },
  "id": "qko6WyOnE9ZRcrNG",
  "tags": []
}