[TOOL] - Agendar.json
{
  "name": "[TOOL] - Agendar",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "servicoId",
              "type": "number"
            },
            {
              "name": "clienteId",
              "type": "number"
            },
            {
              "name": "profissionalId",
              "type": "number"
            },
            {
              "name": "dataHoraInicio"
            },
            {
              "name": "duracaoEmMinutos",
              "type": "number"
            },
            {
              "name": "valor",
              "type": "number"
            },
            {
              "name": "observacoes"
            }
          ]
        }
      },
      "id": "ec79dcf5-2de6-43ab-9c64-5aac28148831",
      "typeVersion": 1.1,
      "name": "start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -320,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "57f67d5c-f6e7-4363-964f-f239c7675af6",
              "leftValue": "={{ $('start').item.json.dataHoraInicio }}",
              "rightValue": "={{ $('Date & Time').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        288
      ],
      "id": "d909bf46-b639-4742-b2b5-69a9376df617",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Sao_Paulo"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -112,
        288
      ],
      "id": "00bc594d-d387-4724-8acc-f2a9aa805dc9",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45d93d49-fcc5-4da6-b607-6f82c0805ded",
              "name": "Status",
              "value": "Você esta tentando agendar em uma data do passado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        400
      ],
      "id": "d622f9c8-9d91-447a-8eeb-b98a3afe3e53",
      "name": "Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.trinks.com/v1/agendamentos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "estabelecimentoId",
              "value": "146044"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataHoraInicio",
              "value": "={{ $('start').item.json.dataHoraInicio }}"
            },
            {
              "name": "servicoId",
              "value": "={{ $('start').item.json.servicoId }}"
            },
            {
              "name": "clienteId",
              "value": "={{ $('start').item.json.clienteId }}"
            },
            {
              "name": "profissionalId",
              "value": "={{ $('start').item.json.profissionalId }}"
            },
            {
              "name": "duracaoEmMinutos",
              "value": "={{ $('start').item.json.duracaoEmMinutos }}"
            },
            {
              "name": "valor",
              "value": "={{ $('start').item.json.valor }}"
            },
            {
              "name": "observacoes",
              "value": "={{ $('start').item.json.observacoes }}"
            },
            {
              "name": "confirmado",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        176
      ],
      "id": "4e0c3ef8-7dbb-4a2f-b504-bd4c80fcd9e2",
      "name": "Agendar",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fKu8wjWP4nA59r2o",
          "name": "[CURSO] - Trinks"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0e8cb17-454b-41b6-9c55-f4d50eb38496",
              "name": "Status",
              "value": "Agendamento realizado com sucesso.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        176
      ],
      "id": "e5fcb789-54b2-482a-ba5b-c968075f9356",
      "name": "output"
    }
  ],
  "pinData": {
    "start": [
      {
        "json": {
          "servicoId": 10250951,
          "clienteId": 71902347,
          "profissionalId": 514461,
          "dataHoraInicio": "2026-01-08T08:00:00",
          "duracaoEmMinutos": 50,
          "valor": 128,
          "observacoes": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Agendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8b3212c6-c06a-4543-81b9-c1a7612ac284",
  "meta": {
    "instanceId": "d47decf17b971c33cf7b5dec9572b981142fa85c3d30a8a0eb41b58fe2f3b048"
  },
  "id": "Dfxl9QfsbOPNxz7E",
  "tags": []
}